<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>SmartRationCard</display-name>
    <servlet>
        <servlet-name>FingerScan1</servlet-name>
        <servlet-class>constant.FingerScan1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FoodRequest</servlet-name>
        <servlet-class>FoodRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProceedCustomerRequest</servlet-name>
        <servlet-class>ProceedCustomerRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindCustomer</servlet-name>
        <servlet-class>FindCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetColor</servlet-name>
        <servlet-class>constant.GetColor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetValue</servlet-name>
        <servlet-class>constant.GetValue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddImageDt</servlet-name>
        <servlet-class>visual.AddImageDt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CombineShare</servlet-name>
        <servlet-class>visual.CombineShare</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadShare</servlet-name>
        <servlet-class>visual.UploadShare</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidatePass</servlet-name>
        <servlet-class>visual.ValidatePass</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadUserData</servlet-name>
        <url-pattern>/UploadUserData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FingerScan1</servlet-name>
        <url-pattern>/FingerScan1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FoodRequest</servlet-name>
        <url-pattern>/FoodRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProceedCustomerRequest</servlet-name>
        <url-pattern>/ProceedCustomerRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindCustomer</servlet-name>
        <url-pattern>/FindCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetColor</servlet-name>
        <url-pattern>/GetColor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetValue</servlet-name>
        <url-pattern>/GetValue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddImageDt</servlet-name>
        <url-pattern>/AddImageDt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CombineShare</servlet-name>
        <url-pattern>/CombineShare</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadShare</servlet-name>
        <url-pattern>/UploadShare</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidatePass</servlet-name>
        <url-pattern>/ValidatePass</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <description/>
        <display-name>enquir_register</display-name>
        <servlet-name>enquir_register</servlet-name>
        <servlet-class>register.enquir_register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadUserData</servlet-name>
        <servlet-class>constant.UploadUserData</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>enquir_register</servlet-name>
        <url-pattern>/enquir_register</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>Feedback</display-name>
        <servlet-name>Feedback</servlet-name>
        <servlet-class>register.Feedback</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Feedback</servlet-name>
        <url-pattern>/Feedback</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>ViewImage</display-name>
        <servlet-name>ViewImage</servlet-name>
        <servlet-class>register.ViewImage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewImage</servlet-name>
        <url-pattern>/ViewImage</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>Forgetpass</display-name>
        <servlet-name>Forgetpass</servlet-name>
        <servlet-class>register.Forgetpass</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Forgetpass</servlet-name>
        <url-pattern>/Forgetpass</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>Forget</display-name>
        <servlet-name>Forget</servlet-name>
        <servlet-class>register.Forget</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Forget</servlet-name>
        <url-pattern>/Forget</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>email</display-name>
        <servlet-name>email</servlet-name>
        <servlet-class>register.email</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>email</servlet-name>
        <url-pattern>/email</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>Addition</display-name>
        <servlet-name>Addition</servlet-name>
        <servlet-class>constants.Addition</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Addition</servlet-name>
        <url-pattern>/Addition</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>UploadData</display-name>
        <servlet-name>UploadData</servlet-name>
        <servlet-class>constants.UploadData</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadData</servlet-name>
        <url-pattern>/UploadData</url-pattern>
    </servlet-mapping>
    <context-param>
        <description>Location to store uploaded file</description>
        <param-name>file-upload</param-name>
        <param-value>
        C:\Users\PhoenixZone1\Documents\NetBeansProjects\SmartRationCard\web\documents
 
     </param-value>
    </context-param>
    <servlet>
        <description/>
        <display-name>Dist_stock</display-name>
        <servlet-name>Dist_stock</servlet-name>
        <servlet-class>Dist_stock</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Dist_stock</servlet-name>
        <url-pattern>/Dist_stock</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>upload_image</display-name>
        <servlet-name>upload_image</servlet-name>
        <servlet-class>constants.upload_image</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>upload_image</servlet-name>
        <url-pattern>/upload_image</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>upload_image1</display-name>
        <servlet-name>upload_image1</servlet-name>
        <servlet-class>constant.upload_image1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>upload_image1</servlet-name>
        <url-pattern>/upload_image1</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>addItom_Check</display-name>
        <servlet-name>addItom_Check</servlet-name>
        <servlet-class>constants.addItom_Check</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addItom_Check</servlet-name>
        <url-pattern>/addItom_Check</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>Custemer_verification</display-name>
        <servlet-name>Custemer_verification</servlet-name>
        <servlet-class>Custemer_verification</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Custemer_verification</servlet-name>
        <url-pattern>/Custemer_verification</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>Fps_detles1</display-name>
        <servlet-name>Fps_detles1</servlet-name>
        <servlet-class>Fps_detles1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Fps_detles1</servlet-name>
        <url-pattern>/Fps_detles1</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>status</display-name>
        <servlet-name>status</servlet-name>
        <servlet-class>status</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>status</servlet-name>
        <url-pattern>/status</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>Changepass</display-name>
        <servlet-name>Changepass</servlet-name>
        <servlet-class>Changepass</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Changepass</servlet-name>
        <url-pattern>/Changepass</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>seller_email_sending</display-name>
        <servlet-name>seller_email_sending</servlet-name>
        <servlet-class>seller_email_sending</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>seller_email_sending</servlet-name>
        <url-pattern>/seller_email_sending</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>Mailer</display-name>
        <servlet-name>Mailer</servlet-name>
        <servlet-class>Mailer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Mailer</servlet-name>
        <url-pattern>/Mailer</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>download</display-name>
        <servlet-name>download</servlet-name>
        <servlet-class>download</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>download</servlet-name>
        <url-pattern>/download</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>Tal_mail</display-name>
        <servlet-name>Tal_mail</servlet-name>
        <servlet-class>Tal_mail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Tal_mail</servlet-name>
        <url-pattern>/Tal_mail</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>update</display-name>
        <servlet-name>update</servlet-name>
        <servlet-class>update</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>update</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>add_dist</display-name>
        <servlet-name>add_dist</servlet-name>
        <servlet-class>add_dist</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>add_dist</servlet-name>
        <url-pattern>/add_dist</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>add_taluka</display-name>
        <servlet-name>add_taluka</servlet-name>
        <servlet-class>add_taluka</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>add_taluka</servlet-name>
        <url-pattern>/add_taluka</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>test_script</display-name>
        <servlet-name>test_script</servlet-name>
        <servlet-class>test_script</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>test_script</servlet-name>
        <url-pattern>/test_script</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>AddFps</display-name>
        <servlet-name>AddFps</servlet-name>
        <servlet-class>AddFps</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddFps</servlet-name>
        <url-pattern>/AddFps</url-pattern>
    </servlet-mapping>
</web-app>
