<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>SmartRationCardAdmin</display-name>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>users.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddGalary</servlet-name>
        <servlet-class>AddGalary</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddImageDt</servlet-name>
        <servlet-class>visual.AddImageDt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CombineShare</servlet-name>
        <servlet-class>visual.CombineShare</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadShare</servlet-name>
        <servlet-class>visual.UploadShare</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidatePass</servlet-name>
        <servlet-class>visual.ValidatePass</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ImageCheck</servlet-name>
        <url-pattern>/ImageCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUsers1</servlet-name>
        <url-pattern>/AddUsers1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddGalary</servlet-name>
        <url-pattern>/AddGalary</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddImageDt</servlet-name>
        <url-pattern>/AddImageDt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CombineShare</servlet-name>
        <url-pattern>/CombineShare</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadShare</servlet-name>
        <url-pattern>/UploadShare</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidatePass</servlet-name>
        <url-pattern>/ValidatePass</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>Upload_file</param-name>
        <param-value>
  /smartCardRationAdmin/WebContent/images/</param-value>
    </context-param>
    <servlet>
        <description/>
        <display-name>AddUsers</display-name>
        <servlet-name>AddUsers</servlet-name>
        <servlet-class>users.AddUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageCheck</servlet-name>
        <servlet-class>constants.ImageCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUsers1</servlet-name>
        <servlet-class>users.AddUsers1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddUsers</servlet-name>
        <url-pattern>/AddUsers</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>AddAboutUs</display-name>
        <servlet-name>AddAboutUs</servlet-name>
        <servlet-class>AddAboutUs</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddAboutUs</servlet-name>
        <url-pattern>/AddAboutUs</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>addServices</display-name>
        <servlet-name>addServices</servlet-name>
        <servlet-class>addServices</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addServices</servlet-name>
        <url-pattern>/addServices</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>AddGallery</display-name>
        <servlet-name>AddGallery</servlet-name>
        <servlet-class>AddGallery</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddGallery</servlet-name>
        <url-pattern>/AddGallery</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>additem</display-name>
        <servlet-name>additem</servlet-name>
        <servlet-class>additem</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>additem</servlet-name>
        <url-pattern>/additem</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>admin_distribute</display-name>
        <servlet-name>admin_distribute</servlet-name>
        <servlet-class>admin_distribute</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>admin_distribute</servlet-name>
        <url-pattern>/admin_distribute</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>Myser</display-name>
        <servlet-name>Myser</servlet-name>
        <servlet-class>Myser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Myser</servlet-name>
        <url-pattern>/Myser</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>add_district_ration</display-name>
        <servlet-name>add_district_ration</servlet-name>
        <servlet-class>add_district_ration</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>add_district_ration</servlet-name>
        <url-pattern>/add_district_ration</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>taluka_added</display-name>
        <servlet-name>taluka_added</servlet-name>
        <servlet-class>taluka_added</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>taluka_added</servlet-name>
        <url-pattern>/taluka_added</url-pattern>
    </servlet-mapping>
</web-app>
